<div class="row">
    <div class="col-md-10 main-content" *ngIf="!form_page">
        <h3 class="all_mod_header">C Search</h3>
        <div class="row">
            <div class="offset-md-1 col-lg-5 col-md-7 col-sm-12">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="dcn_nbr_echs">DCN Number</label>
                                <input formControlName="dcn_nbr_echs" placeholder="DCN Number" type="text" 
                                maxlength="12" class="form-control" (keypress)="avoid_special_char($event)"
                                oninput="this.value=this.value.toUpperCase()" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="track_id_echs">Comm Tracking Id</label>
                                <input formControlName="track_id_echs" placeholder="Comm Tracking Id" type="text" 
                                maxlength="12" class="form-control" (paste)="onPaste($event)"
                                 (keypress)="avoid_special_char($event)"
                                oninput="this.value=this.value.toUpperCase()" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="ctrl_num_echs">Control Number</label>
                                <input formControlName="ctrl_num_echs" placeholder="Control Number" type="text" 
                                maxlength="12" class="form-control" (keypress)="only_numbers($event)"
                                (paste)="onPaste($event)" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="category_echs">Doc Category Code</label>
                                <input formControlName="category_echs" placeholder="Doc Category Code" type="text" 
                                maxlength="4" class="form-control" (paste)="onPaste($event)"
                                 (keypress)="avoid_special_char($event)"
                                oninput="this.value=this.value.toUpperCase()" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="commets_echs">Commets Id</label>
                                <input formControlName="dcn_nbr_echs" placeholder="Commets Id" type="text" 
                                maxlength="18" class="form-control" (paste)="onPaste($event)"
                                 (keypress)="avoid_special_char($event)"
                                oninput="this.value=this.value.toUpperCase()" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="print_sups_echs">Print Supp Id</label>
                                <input formControlName="print_sups_echs" placeholder="Print Supp Id" type="text" 
                                maxlength="1" class="form-control" (paste)="onPaste($event)"
                                 (keypress)="avoid_special_char($event)"
                                oninput="this.value=this.value.toUpperCase()" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                
                            </div>
                        </div>
                    </div>
                    <div class="row search_btns row justify-content-sn-center mt-4 pb-4">
                        <button type="button" (click)="onReset()" class="btn btn-sm m-3">
                            Clear
                        </button>
                        <button type="submit"  class="btn btn-sm m-3">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-10 result-content" *ngIf="data_result">
        <h3 class="all_mod_header"> C Search</h3>
        <div class="row">
            <div class="form-row col-md">
                <div class="col-md-6">
                    <a class="small-text-left" (click)="back_search()"> Back to search</a>
                </div>
                <div class="col-md-6">
                    <a class="small-text-right"> Configure Text </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <table class="table table-striped table-bordered">
                    <thead class="table-heading"> 
                        <th><input type="checkbox" [(ngModel)]="isEverythingSelected" name="data_list" value="d1"
                            (change)="checkUncheckAll()"><br> Select All</th>
                        <th class="point"> DCN&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Image Page</th>
                        <th class="point"> Control Nbr&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Recieved Date&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Doc Category&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Doc Type&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Comm Tracking ID&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Commets Id&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> Print SupplyId&nbsp;<i class="bi bi-chevron-expand"></i></th>
                        <th class="point"> ICN&nbsp;<i class="bi bi-chevron-expand"></i></th>
                    </thead>
                    <tbody class="table-body">
                        <tr *ngFor="let c of corres_data | paginate:config">
                            <td><input type="checkbox" [(ngModel)]="c.isSelected" name="data_list" value={{c.id}} 
                                (change)="isAllSelected()"></td>
                            <td><a class="dcn_link" href="">{{c.DCN}}</a></td>
                            <td>{{c.Image_Pages}}</td>
                            <td>{{c.Control_Nbr}}</td>
                            <td>{{c.Received_Date}}</td>
                            <td>{{c.Doc_Category}}</td>
                            <td>{{c.Doc_Type}}</td>
                            <td>{{c.Comm_Tracking_ID}}</td>
                            <td>{{c.Comets_ID}}</td>
                            <td>{{c.Print_SuppID}}</td>
                            <td>{{c.ICN}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 sm-6 mb-3">
                <button type="button" (click)="retrieve_select()" disabled class="btn btn-sm retrieve_select">Retrieve Select</button>
            </div>
            <div class="col-md-6 sm-6 mb-3">
                <app-pagination [config]="config"></app-pagination>
            </div>
        </div>
    </div>
</div>