.custom-pagination{
    float: right !important;
}

.custom-pagination .page-number{
    display: inline-block;
    background-color: #fff;
    color: #428bca;
    text-align: center;
}

.page-number.current{
    background: #7D3F98 !important;
    color: #fff !important;
    border: 3px solid #7D3F98;
}

.page-number.current:hover:not(.current){
    background: #ddd !important;
}

.page-number.current{
    float: left;
    position: relative;
    display: block;
    text-align: center;
    width: 28px;
    height: 30px;
    cursor: pointer;
}

.border{
    border: 1px solid #ddd;
}
